@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
body {
  min-width: 447px;
  font-family: "Josefin Sans", sans-serif;
}

.jumbotron {
  background-image: url("../images/mobile/image-hero.jpg");
  padding-bottom: 288px;
  margin-bottom: 160px;
}

.jumbotron nav {
  padding-top: 64px;
  padding-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jumbotron nav .nav-links {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

footer {
  padding-top: 70px;
  padding-bottom: 75px;
  background-color: black;
}

footer #footer-logo {
  margin-bottom: 33px;
}

footer #footer-links {
  list-style-type: none;
}

footer #footer-links li a {
  color: white;
  text-decoration: none;
}

footer #footer-text {
  color: #7a7a7a;
}

footer #footer-text a {
  color: aqua;
}

.title-desc {
  width: 300px;
  font-size: 26px;
  font-weight: bold;
  padding: 10px 20px 0px 20px;
  letter-spacing: 2px;
  line-height: 1.2;
}

.desc {
  text-align: start;
  line-height: 1.5;
  width: 500px;
  font-weight: bold;
  color: #8c8c8c;
  padding: 20px 20px;
}

.title-creations {
  position: relative;
  top: -90px;
  left: 50px;
  color: white;
  width: 140px;
  font-size: 26px;
}

@media screen and (max-width: 478px) {
  body {
    text-align: center;
  }
  #footer-links {
    text-align: center;
  }
  #footer-links li {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .hide-mobile {
    display: none;
  }
  .nav-links {
    display: none;
  }
  #social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    margin: 45px auto 27px auto;
  }
  .img-creations-deep-earth {
    background-image: url("../images/mobile/image-deep-earth.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .img-creations-night-arcade {
    background-image: url("../images/mobile/image-night-arcade.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .img-creations-soccer {
    background-image: url("../images/mobile/image-soccer-team.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .img-creations-grid {
    background-image: url("../images/mobile/image-grid.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .img-creations-above-vr {
    background-image: url("../images/mobile/image-from-above.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .img-creations-borealis {
    background-image: url("../images/mobile/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .img-creations-curiosity {
    background-image: url("../images/mobile/image-curiosity.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .img-creations-fisheye {
    background-image: url("../images/mobile/image-fisheye.jpg");
    background-repeat: no-repeat;
    width: 654px;
    height: 240px;
  }
  .btn-creations {
    background-color: white;
    border-radius: 0px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    width: 100px;
    padding: 10px;
    position: relative;
    top: 2300px;
  }
  .motto {
    width: 652px;
    text-align: left;
    border-color: white;
    border-style: solid;
    padding: 20px 20px;
  }
  .motto h1 {
    font-size: 4.5rem;
    font-family: "Josefin Sans", sans-serif;
    color: white;
  }
}

@media screen and (min-width: 1280px) {
  .hide-desktop {
    display: none;
  }
  .jumbotron {
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    padding-bottom: 145px;
  }
  .jumbotron nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .jumbotron nav #logo {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: left;
  }
  .jumbotron nav a {
    color: white;
    text-decoration: none;
  }
  .jumbotron .motto {
    width: 652px;
    text-align: left;
    border-color: white;
    border-style: solid;
    padding: 20px 20px;
  }
  .jumbotron .motto h1 {
    font-size: 4.5rem;
    font-family: "Josefin Sans", sans-serif;
    color: white;
  }
  .container {
    width: 1115px;
    margin: 0 auto;
  }
  .col {
    width: 49%;
    display: inline-block;
  }
  #hamburger {
    display: none;
  }
  footer #social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 30px;
  }
  footer #social-media li {
    margin-left: 20px;
  }
  footer #footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #footer-links li {
    margin-right: 20px;
  }
  footer #footer-text {
    text-align: right;
  }
  .img-interactive {
    width: 550px;
  }
  .content1 {
    text-align: center;
  }
  .image-vr {
    position: relative;
    left: -250px;
  }
  .desc-vr {
    margin-left: 300px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
    width: 500px;
    height: 250px;
    position: relative;
    bottom: 120px;
    left: 380px;
  }
  .content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 200px;
    padding-bottom: 100px;
  }
  .creations {
    padding: 0px 10px;
    height: 470px;
  }
  .head-creations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 220px;
  }
  .btn-creations {
    background-color: white;
    border-radius: 0px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    width: 100px;
    padding: 10px;
  }
  .img-creations-deep-earth {
    background-image: url("../images/desktop/image-deep-earth.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
  .img-creations-night-arcade {
    background-image: url("../images/desktop/image-night-arcade.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
  .img-creations-soccer {
    background-image: url("../images/desktop/image-soccer-team.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
  .img-creations-grid {
    background-image: url("../images/desktop/image-grid.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
  .img-creations-above-vr {
    background-image: url("../images/desktop/image-from-above.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
  .img-creations-borealis {
    background-image: url("../images/desktop/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
  .img-creations-curiosity {
    background-image: url("../images/desktop/image-curiosity.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
  .img-creations-fisheye {
    background-image: url("../images/desktop/image-fisheye.jpg");
    background-repeat: no-repeat;
    width: 256px;
    height: 450px;
  }
}
/*# sourceMappingURL=main.css.map */